<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<form action="/users/logged" method="post">
EMAIL<input type="text" name="t1"><br><br>
password<input type="text" name="t2"><br><br>
<input type="submit" value="LOGIN">    
</form>    
</body>
</html>